.contenido {
    position: fixed;
    left: 291px; /*260 301*/
    top: 39px;
    bottom: 0px;
    right: 0px;
    padding: 15px;
    margin-bottom: 30px;
    overflow: auto;
}

#sticky-footer {
    background: #73c6d9;
}

#check {
    display: none;
}

#check:checked~.menu {
    width: 300px;
}

.menu {
    position: fixed;
    top: 41px;
    width: 0px;
    height: 100vh;
    background: #e9ecef;/*#73c6d9;*/
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    transition-timing-function: cubic-bezier(0.25,0.1,0.25,1);
    /*transition-timing-function: cubic-bezier(0.19, 1, 0.22, 2);*/
    overflow: hidden;

    /*min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;*/
}

.menu li {
    list-style: none;
    padding: 14px;
    color: white;
    cursor: pointer;
    transition: all 300ms;
    display: block;
    width: 400px;
}

.menu li:hover {
    background: rgba(0, 0, 0, 0.2);
}

.burguer label {
    position: fixed;
    width: 100%;
    max-width: 1000px;
    top: 10px;
    font-size: 20px;
    color: #73c6d9;
    cursor: pointer;
}

.texto-menu {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin-bottom: .5rem;
    font-weight: 200;
    line-height: 1.2;
}

#login-page {
    width: 100%;
    height: 100%;
    background: #007582;
    min-width: 1024px;
    float: left;
}

#login-header {
    width: 100%;
    height: 180px;
    padding: 0;
    margin: 0;
}

#login-body {
    width: 100%;
    height: 368px;
    float: left;
    padding: 0;
    margin: 0;
}

#login-left {
    width: 592px;
    height: 100%;
    float: left;
    padding: 0;
    margin: 0;
    background: url(../images/login-panel_cuerpo.png);
}

#login-right {
    height: 100%;
    min-width: 420px;
    text-align: center;
    background: #007582;
}

#auto {
    float: left;
    width: 100%;
    background: #007582;
    height: 337px;
}

#logon-footer {
    width: 100%;
    height: 52px;
    /*   background: url(../images/logon_footer.gif);*/
    background: #333333;
    float: left;
}