.c1 {
    background-color: rgb(108, 122, 137);
    font-size: 12px;
    color: rgb(255, 255, 255);
    width: 135px !important;
    height: 100px !important;
    padding: 0px;
}

.c1:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(149, 165, 166);
}

.c1_ico {
    font-size: 40px;
}

.c2 {
    background-color: rgb(219, 010, 091);
    font-size: 12px;
    color: rgb(255, 255, 255);
    width: 135px !important;
    height: 100px !important;
    padding: 0px;
}

.c2:hover {
    color: rgb(255, 255, 255);
    background-color: rgb( 246, 036, 089);
}

.c2_ico {
    font-size: 40px;
}

.c3 {
    background-color: rgb( 065, 131, 215);
    font-size: 12px;
    color: rgb(255, 255, 255);
    width: 135px !important;
    height: 100px !important;
    padding: 0px;
}

.c3:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(052, 152, 219);
}

.c3_ico {
    font-size: 40px;
}

.c4 {
    background-color: rgb(038, 166, 091);
    font-size: 12px;
    color: rgb(255, 255, 255);
    width: 135px !important;
    height: 100px !important;
    padding: 0px;
}

.c4:hover {
    color: rgb(255, 255, 255);
    background-color: rgb( 027, 188, 155);
}

.c4_ico {
    font-size: 40px;
}

.c5 {
    background-color: rgb(211, 084, 000);
    font-size: 12px;
    color: rgb(255, 255, 255);
    width: 135px !important;
    height: 100px !important;
    padding: 0px;
}

.c5:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(242, 121, 053);
}

.c5_ico {
    font-size: 40px;
}

.c6 {
    background-color: rgb(243, 156, 018);
    font-size: 12px;
    color: rgb(255, 255, 255);
    width: 135px !important;
    height: 100px !important;
    padding: 0px;
}

.c6:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(244, 179, 080);
}

.c6_ico {
    font-size: 40px;
}

.c7 {
    background-color: rgb(004, 147, 114);
    font-size: 12px;
    color: rgb(255, 255, 255);
    width: 135px !important;
    height: 100px !important;
    padding: 0px;
}

.c7:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(003, 166, 120);
}

.c7_ico {
    font-size: 40px;
}

.c8 {
    background-color: rgb(052, 073, 094);
    font-size: 12px;
    color: rgb(255, 255, 255);
    width: 135px !important;
    height: 100px !important;
    padding: 0px;
}

.c8:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(051, 110, 123);
}

.c8_ico {
    font-size: 40px;
}

.c9 {
    background-color: rgb(030, 130, 076);
    font-size: 12px;
    color: rgb(255, 255, 255);
    width: 135px !important;
    height: 100px !important;
    padding: 0px;
}

.c9:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(022, 160, 133);
}

.c9_ico {
    font-size: 40px;
}

.c11 {
    background-color: rgb( 103, 065, 114);
    font-size: 12px;
    color: white;
    width: 135px !important;
    height: 100px !important;
    padding: 0px;
}

.c11:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(191, 085, 236);
}

.c11_ico {
    font-size: 40px;
    color: white;
}

.c10 {
    background-color: rgb(031, 058, 147);
    font-size: 12px;
    color: rgb(255, 255, 255);
    width: 135px !important;
    height: 100px !important;
    padding: 0px;
}

.c10:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(030, 139, 195);
}

.c10_ico {
    font-size: 40px;
}