html,
body {
    background-color: #fff;
    color: #636b6f;
    height: 100vh;
    margin: 0;
}

@font-face {
    font-family: Wingdings 2;
    src: url('/fonts/WINGDNG2.TTF') format('truetype');
}

@font-face {
    font-family: Wingdings;
    src: url('/fonts/wingdings.ttf') format('truetype');
}

@font-face {
    font-family: Webdings;
    src: url('/fonts/webdings.ttf') format('truetype');
}

.no-padding-right{
    padding-right: 0px;
}
.no-padding-left{
    padding-left: 0px;
}
.padding-right-5{
    padding-right: 5px;
}
.padding-left-5{
    padding-left: 5px;
}
.margin-top-5{
    margin-top: 5px;
}
.margin-top-6{
    margin-top: 6px;
}
.botonespower {
    font-size: 12px;
    color: white;
    width: 135px !important;
    height: 100px !important;
    padding: 0px;
}

.iconospower {
    font-size: 40px;
    color: white;
}

.submenu {
    background-color: black;
    color: white;
    -webkit-transition: background-color 0.3s, padding-left 0.3s;
    -moz-transition: background-color 0.3s, padding-left 0.3s;
    -o-transition: background-color 0.3s, padding-left 0.3s;
    transition: background-color 0.3s, padding-left 0.3s;
    padding-top:3px; 
    padding-bottom:3px;
    padding-left: 10px;
    padding-right: 0px;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    cursor: pointer;
} 
.submenu:hover{
    background-color: #5293ca;
    color: white;     
    padding-left: 21px;       
}
.submenu-activo{
    background-color: #5293ca;
    color: white;     
    padding-left: 21px;   
}
.submenu i{
    -webkit-transition: visibility 0.3s, opacity 0.3s;
    -moz-transition: visibility 0.3s, opacity 0.3s;
    -o-transition: visibility 0.3s, opacity 0.3s;
    transition: visibility 0.3s, opacity 0.3s;
    visibility: hidden;
    opacity: 0;
}
.submenu:hover i{
    visibility: visible;
    opacity: 1;
}
.submenu-activo i{
    visibility: visible;
    opacity: 1;
}
.sublistado{
    background-color:transparent !important;
    color: white !important;
    -webkit-transition: font-weight 0.3s;
    -moz-transition: font-weight 0.3s;
    -o-transition: font-weight 0.3s;
    transition: font-weight 0.3s;
    padding-top:3px; 
    padding-bottom:3px;
    padding-left: 15px;
    padding-right: 0px;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
} 
.sublistado:hover{ 
    font-weight: 500;
}
.sublistado-activo{  
    font-weight: 500;
}
.sublistado i{
    -webkit-transition: padding-left 0.3s, visibility 0.3s, opacity 0.3s;
    -moz-transition: padding-left 0.3s, visibility 0.3s, opacity 0.3s;
    -o-transition: padding-left 0.3s, visibility 0.3s, opacity 0.3s;
    transition: padding-left 0.3s, visibility 0.3s, opacity 0.3s;
    padding-left: 20px;
    visibility: hidden;
    opacity: 0;
}
.sublistado:hover i{
    visibility: visible;
    opacity: 1;
    padding-left: 3px;
}
.sublistado-activo i{
    visibility: visible;
    opacity: 1;
    padding-left: 3px;
}
.listado-ul{
    background-color:#00000080;
    display:none;
    margin-bottom: 5px;
    padding-left: 30px;
    color:white;
}
.listado-ul:last-of-type{
    padding-bottom: 5px;
}
.listado-ul-show{
    display:block;
}
.listado-ul-inner{
    padding-left: 20px;
}
.menuli{
    background-color:transparent;
    color: white;
    border: 1px darkgray;
    border-style: solid none solid none;
    cursor: pointer; 
    padding-top:5px; 
    padding-bottom:5px; 
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
}
.menuli:hover{
    background-color: white;
    color: black;
}
.menuli-activo{
    background-color: white;
    color: black;
}

.menu-logo{
    height: 10%; 
    width: 100%;
    min-height: 60px;
}

.menu-logo img{
    margin-top: 5%;
}

.contenido-whole {
    width:85%; 
    height:95%; 
    float:right;
}

.menu-header{
    display:block; 
    height: 5%; 
    width:100%; 
    background-color:black;
    min-height: 40px;
}

.menu-header-left{
    float:left; 
    position: relative; 
    top: 50%; 
    transform: translateY(-50%); 
    color: white; 
    margin-left: 5px;
}

.menu-header-right{
    float: right; 
    position: relative; 
    top: 50%; 
    transform: translateY(-50%); 
    color: white; 
    margin-right: 5px;
}

.contenido-bg{
    min-height: 95vh; 
    background-image: url(/img/fondo.png); 
    background-repeat: no-repeat; 
    background-size: auto 95%; 
    background-attachment: fixed; 
    background-position: 15% 0%;
}

.contenido-content{
    text-align:center; 
    padding: 3%; 
    padding-bottom:6%;
}

.menu-footer{
    display: block; 
    position:fixed; 
    bottom: 0px; 
    height: 5%; 
    width: 100%; 
    background-color: black; 
    text-align: center;
}

.menu-footer-content{
    float: center; 
    position: relative; 
    top: 50%; 
    transform: translateY(-50%); 
    color: white;
}

.collapse-bg{
    background-color:#00000080;
}

.en-linea{
    display: inline;
}

.estatico{
    position: static;
}

ul.arbol, ul.arbol ul {
list-style-type: none;
background: url(/img/vlinew.png) repeat-y;
}

ul.arbol ul {
padding-top: 0;
padding-bottom: 0;
margin-top: 0;
margin-bottom: 0;
}

ul.arbol li {
list-style-image: url(/img/nodew.png);
height: 26px;
}

ul.arbol a:last-of-type li{
list-style-image: url(/img/lastnodew.png);
}

ul.arbol a{
border: 0;
padding-top: 0;
padding-bottom: 0;
margin-top: 0;
margin-bottom: 0;
height: 26px;
}