@charset "utf-8";

/****************************common******************************************************/

body {
    /*width:1366px; */
    padding: 0 auto;
    margin: 0 auto;
    font: 12px Helvetica, Arial, san-serif;
}

input {
    margin: 0 auto;
}

img {
    border: 0px;
}

.margen_izq {
    margin-left: 10px;
  }
.size_letra{
    font-size: initial;
    text-align: center;
} 

.td_color{
    color: black;
    line-height: 3px;
}

}

.size_td {
    font-size: 1rem;
    text-align: center;
}

.tb-common th {
    font-family: Helvetica, Arial, san-serif;
    font-size: 9pt;
    color: #000000;
    font-weight: bold;
    height: 15px;
    background-color: #F2F7FD;
    text-align: left;
    padding: 5px 5px;
    border: 1px solid #C5D6E8;
}

.margen_izq {
    margin-left: 10px;
    
    
  }

.margen_bot {
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 13px;
}

.size_letra{
    font-size: initial;
    text-align: center;
}

.size_td {
    font-size: 1rem;
    text-align: center;
}

.size {
    font-size: 1rem;
}

table {
    border-collapse: collapse;
    border-width: 0px;
    border-style: hidden;
    /*font-size: 12px;*/
}

td {
    border: 1px solid #C5D6E8;
    padding: 3px 5px 3px 5px;
}

td table {
    border-collapse: collapse;
    border-width: 0px;
    border-style: hidden;
}

td td {
    border: 0px solid #C5D6E8;
    padding: 0px;
}

.tb-common {
    margin: 10px 2% 10px 2%;
    width: 96%;
    border-collapse: collapse;
    border: 1px solid #C5D6E8;
    font-size: 12px;
}

.tb-common td {
    border: 1px solid #C5D6E8;
    padding: 5px 5px 5px 5px;
}

.submit-div {
    margin: 2%;
    width: 96%;
    border-collapse: collapse;
    font-size: 12px;
}

.tb-common-s td {
    border: 0px solid #C5D6E8;
    padding: 5px 5px 5px 5px;
}

.tb-common-s2 td {
    border: 0px solid #C5D6E8;
    padding: 2px 0px 2px 10px;
}

.tb-common .td-gridview {
    padding: 0px;
    margin: 0 auto;
    color: #666666;
    font-size: 9pt;
}

.tb-common table {
    width: 100%;
    border-width: 0px;
    border-style: hidden;
}


/*.tb-common table td{
	 font-family: Helvetica, Arial, sans-serif;
	font-size: 9pt;
	color: #666666;
	height: 15px;
	padding:5px 5px;
}*/

.tb-common table .header-style {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 9pt;
    color: #333333;
    font-weight: normal;
    height: 20px;
    background-color: #F2F7FD;
}

.tb-common table .TableItemStyle {
    word-break: break-all;
    word-wrap: break-word;
}

.gridview {
    width: 100%;
    border: 0;
}

.gridview td {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 9pt;
    color: #666666;
    height: 15px;
    padding: 5px 5px;
}

.gridview .header-style {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 9pt;
    font-weight: normal;
    background-color: #F2F7FD;
    color: #000;
}

.gridview .inside-table {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 9pt;
    color: #666666;
    padding: 0;
    margin: 0 auto;
}

.tb-message {
    margin: 10px 2% 0px 2%;
    width: 96%;
    border: 1px solid #C5D6E8;
}

.table-header {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 9pt;
    color: #000;
    font-weight: normal;
    background-color: #F2F7FD;
    text-align: left;
    height: 15px;
}

.table-label {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 9pt;
    color: #666666;
    height: 20px;
    margin: 8px 5px 3px 10px;
}

ul {
    list-style: none;
}

a {
    outline: none;
}

/*a:link {
    color: #212529;
}*/


/* Enlace no visitado 0066FF */

a:visited {
    color: #d3d9e4
}


/* Enlace visitado */

a:hover {
    color: #268fa9
}


/* Cuando pasas el mouse sobre el enlace */

a:active {
    color: #268fa9
}


/* Cadena seleccionada? */

.node-highline {
    color: #0000FF;
    text-decoration: underline;
}

.node-highline:link {
    color: #0000FF;
    text-decoration: underline;
}

.node-highline:hover {
    color: #0000FF;
    text-decoration: underline;
}

.node-highline:visited {
    color: #0000FF;
    text-decoration: underline;
}

.node-highline:active {
    color: #0000FF;
    text-decoration: underline;
}

.treeIMG {
    cursor: pointer;
    /* vertical-align:middle;*/
}

.table-title {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 9pt;
    color: #000000;
    font-weight: bold;
    height: 18px;
    background-color: #F2F7FD;
    text-align: left;
    padding-top: 3px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
}

.text-error {
    background-color: #F2F7FD;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 9pt;
    font-weight: bold;
    color: red;
    height: 20px;
    padding-top: 3px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
}

.text-success {
    background-color: #F2F7FD;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 9pt;
    font-weight: bold;
    color: #666666;
    height: 20px;
    padding-top: 3px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
}

.text-error-title {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 9pt;
    color: #ffffff;
    font-weight: bold;
    height: 18px;
    background-color: #FF7C00;
    text-align: left;
}

.text-success-title {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 9pt;
    color: #ffffff;
    font-weight: bold;
    height: 18px;
    background-color: #3C9401;
    text-align: left;
    padding-top: 3px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
}

.outer-table {
    margin: 10px 2%;
    width: 96%;
}


/***********************************************Header CSS Start******************************************/

* html #aem-header {
    height: 35px;
}


/*IE6 margin padding repeated addition*/

#aem-header {
    width: 100%;
    min-width: 800px;
    height: 60px;
    background: #8fb3da;
    float: left;
    background: -webkit-linear-gradient(left, #9DBBE1 0%, #3a6ea5 90%);
    background: -o-linear-gradient(left, #9DBBE1 0%, #3a6ea5 90%);
    background: -moz-linear-gradient(left, #9DBBE1 0%, #3a6ea5 90%);
    filter: progid: DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#9DBBE1', endColorstr='#3a6ea5');
    /* for IE */
}

#aem-header span {
    color: #FFFFFF;
}

#aem-header a {
    text-decoration: none;
    color: #FFFFFF;
}

#header-logo {
    float: left;
    height: 100%;
    height: 30px;
    padding: 10px;
    font: 1.5em Helvetica, Arial, sans-serif;
}

.header-help {
    float: right;
    height: 100%;
    height: 40px;
    padding: 10px;
    margin-right: 5px;
}


/***********************************************Header CSS End******************************************/


/***********************************************Body CSS Start******************************************/

.aem-body {
    width: 99%;
    margin: 50px 0 2% 0;
    float: left;
}


/***********************************************TreeView CSS Start***************************/

.aem-treeview {
    width: 98%;
    float: left;
}

.aem-treeview span {
    margin: 0% 0%;
}

.aem-treeview a {
    text-decoration: none;
    color: #1147A5;
}

.aem-treeview a:hover {
    text-decoration: underline;
    color: #0000FF;
}

.tree-titleDiv {
    width: 100%;
    font-size: 14px;
    padding: 5px 0 5px 1%;
    font-weight: bold;
    height: 20px;
    text-indent: 1em;
    /*width:328px;*/
    background: #C5D6E8;
    border: 1px #C5D6E8 solid;
}

.tree-content {
    height: calc(100vh - 75px);
    /* width: 30%;*/
    /* overflow: scroll;*/
    width: 290px; /* 260 314;*/
    min-width: 260px;
    /* border: 1px #C5D6E8 solid;*/
   /* background: #e9ecef;*/
    padding: 10px;
    min-height: 100px;
    white-space: nowrap;
    overflow: hidden;
}

.tree-desc {
    width: 100%;
    /*width:319px; */
    border: 1px #C5D6E8 solid;
    background: #F1F2F2;
    padding: 0px 0 10px 1%;
    overflow-y: auto;
    overflow-x: hidden;
}

a.treelink:link {
    color: #1147A5;
    height: 15px;
    font-size: 14px;
    font-weight: bold;
    /* vertical-align:middle;*/
}

a.treelink_h:link {
    color: #1147A5;
    height: 15px;
    font-size: 14px;
    font-weight: bold;
    /* vertical-align:middle;*/
}


/* Enlace no visitado 0066FF */

a.treelink:visited {
    color: #1147A5
}


/* Enlace visitado */

a.treelink:hover {
    color: #0000FF;
    text-decoration: none
}


/* Cuando pasas el mouse sobre el enlace */

a.treelink:active {
    color: #0000FF
}


/* Cadena seleccionada?*/


/***********************************************TreeView CSS End***************************/


/***********************************************Content CSS Start***************************/

.aem-rightDiv {
    margin: 0 0;
    width: 100%;
    height: 100%;
    float: left;
}

.nav-titleText {
    font-size: 14px;
    padding: 5px 0 5px 0;
    font-weight: bold;
    min-height: 20px;
    min-width: 500px;
    text-indent: 1em;
}

.nav-titleText font {
    color: #1147A5;
    text-decoration: underline;
}

.content-titleText {
    font-size: 13px;
    font-weight: bold;
    background-color: #F2F7FD;
}


/*.content-subTitleText{ font-size: 12px;} border: 1px #C5D6E8 solid;*/

.aem-navDiv {
    width: 100%;
    min-width: 500px;
    background: #C5D6E8;
}

.aem-content {
    min-width: 500px;
    height: 100%;
    padding-bottom: 10px;
}

.version-info {
    font: bold italic 12px Helvetica, Arial, sans-serif;
    float: right;
    margin: 0% 2%;
}

.aem-content img {
    float: left;
    padding: 0px 3px;
}

.aem-content-hr {
    margin: 15px 2%;
}

.aem-content-titleDiv {
    margin: 0% 2%;
    background: #F1F2F2;
}

.grayImage {
    filter: Gray;
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
}

a.imgFont {
    font-family: Helvetica, Arial, sans-serif;
    FONT-SIZE: 9pt;
    color: #6487DC;
}

a.imgFont:link {
    COLOR: #6487DC;
    TEXT-DECORATION: none;
}

a.imgFont:visited {
    COLOR: #6487DC;
    TEXT-DECORATION: none;
}

a.imgFont:hover {
    COLOR: #6487DC;
    TEXT-DECORATION: none;
}

.imgFont {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 9pt;
    color: #6487DC;
    cursor: pointer;
}

.imgFontDisable {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 9pt;
    color: #666666;
    cursor: default;
}

.emptyline5 {
    height: 5px;
    overflow: hidden;
}

.emptyline10 {
    height: 10px;
    overflow: hidden;
}


/*	.icoImg{
	vertical-align:middle;

}*/

.placeholder-pic {
    float: left;
    padding: 0px 3px;
    width: 11px;
}

.license-activation-title {
    font-weight: bold;
    font-size: 9pt;
    font-family: Helvetica, Arial, sans-serif;
    color: #666666;
    height: 20px;
    margin: 5px 5px 5px 5px;
}

.rbl label {
    margin-right: 10px;
}

.header-style {
    white-space: nowrap;
}


/***********************************************Content CSS End***************************/


/***********************************************Body CSS End******************************************/